# Archivos de variables de entorno con datos sensibles
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos y carpetas de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Configuraciones de editores e IDEs
.vscode/
.idea/
*.swp
*.swo

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Logs y carpetas de compilación
*.log
.vercel